<app-left-bar></app-left-bar>
<div class="contenidoPagina">
    <app-header [page]="title"></app-header>
    <div class="tarjeta mat-elevation-z8">
        <div class="header-tarjeta">
            <h5>Detalle de usuarios</h5>
            <div class="filtro-tarjeta">
                <h5 style="padding-right: 5px;">Filtro: </h5>
                <mat-form-field>
                    <input class="filtro" matInput (keyup)="applyFilter($event)" placeholder=" ">
                </mat-form-field>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- DNI Column -->
            <ng-container matColumnDef="dni">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <!-- Apellidos Column -->
            <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
            <!-- Celular Column -->
            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
            </ng-container>
            <!-- Rol Column -->
            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.idTipoRol==='60bb0f9768bcb70590c9eccc'">Administrador</div>
                    <div *ngIf="element.idTipoRol==='60bb0fad68bcb70590c9eccd'">Repartidor</div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editarUsuario(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <button class="btn-agregar" (click)="nuevoUsuario()">
        <span class="iconify" data-icon="codicon:add" data-inline="false"></span>
    </button>
</div>
<app-right-bar></app-right-bar>