<div *ngIf="mensajeRespuesta.message">
    <div class="respuesta">
        <svg class="respuesta-icono" width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 10.5L9 13.5L14 7.5" stroke="var(--color-verde-100)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path
                d="M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                stroke="var(--color-verde-100)" stroke-width="2" />
        </svg>
        <p class="respuesta-texto">{{mensajeRespuesta.message}}</p>
    </div>
</div>