<app-left-bar></app-left-bar>
<div class="contenidoPagina">
    <app-header [page]="title"></app-header>
    <div class="tarjeta mat-elevation-z8">
        Filtro:
        <mat-form-field>
            <input class="filtro" matInput (keyup)="applyFilter($event)" placeholder=" ">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Placa Column -->
            <ng-container matColumnDef="placa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
                <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
            </ng-container>
            <!-- Marca Column -->
            <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>
            <!-- VencimientoSoat Column -->
            <ng-container matColumnDef="vencimientoSoat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOAT </th>
                <td mat-cell *matCellDef="let element"> {{element.vencimientoSoat}} </td>
            </ng-container>
            <!-- VencimientoRevision Column -->
            <ng-container matColumnDef="vencimientoRevision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Revision técnica </th>
                <td mat-cell *matCellDef="let element"> {{element.vencimientoRevision}} </td>
            </ng-container>
            <!-- Estado Column -->
            <ng-container matColumnDef="idEstadoVehiculo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.idEstadoVehiculo==='60beee1f030b61001519db51'">En uso</div>
                    <div *ngIf="element.idEstadoVehiculo==='60beee42030b61001519db52'">Libre</div>
                    <div *ngIf="element.idEstadoVehiculo==='60beee4c030b61001519db53'">Mantenimiento</div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editarVehiculo(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <button class="btn-agregar" (click)="nuevoVehiculo()">
        <span class="iconify" data-icon="codicon:add" data-inline="false"></span>
    </button>
</div>
<app-right-bar [vehiculo]="vehiculo"></app-right-bar>